{% extends "base.html" %}

{% block style_block %}
<style>
    div.submit{
        width: 170px;
        height: 170px;
        padding: 5px;
    }
    div.submit:hover{
        border: 1px solid silver;
        border-radius: 10px;
    }
    .submit img{
        width: 150px;
        height: 150px;
    }
</style>
{% end %}

{% block menu %}
{% include 'includes/nav.html' %} {# pull in navbar #}
{% end %}

{% block content %}
<div class="container center-block">
    <h1>Enigma Travel</h1>
    <div >
        <img src="{{ static_url('image/icon_large.png') }}" />
        <br/><br/>
        <div>
            <div id="message" class="message" style="max-width:300px; margin-right: auto; margin-left: auto;">
                今回の旅行の予算を教えてね！
            </div>
        </div>
    </div>
    <br/>
    <div id="group">
        <table style="margin-right: auto; margin-left: auto;">
            <tr>
                <td>
                    <div class="submit" data-value="0">
                        <img src="{{ static_url('image/budget_s.png') }}"/>
                    </div>
                </td>
                <td>
                    <div class="col-md-2 submit" data-value="1">
                        <img src="{{ static_url('image/budget_m.png') }}">
                    </div>
                </td>
                <td>
                    <div class="col-md-2 submit" data-value="2">
                        <img src="{{ static_url('image/budget_l.png') }}">
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <div id="share" style="display:none">
            <a id="url" href="" class="btn btn-info" role="button">行きたい場所を相談</a>
            {% raw xsrf_form_html() %}
        </div>
    </div>
</div>
{% end %}

{% block tail_script %}
<script src="/static/js/index.js"></script>
{% end %}
