{% extends "base.html" %}

{% block style_block %}
{% end %}

{% block menu %}
{% include 'includes/nav.html' %} {# pull in navbar #}
{% end %}

{% block content %}
<div class="page-header">
    <h1>Enigma Travel</h1>
</div>

<div class="container">
    <div id="group" class="form-inline" >
        {% raw xsrf_form_html() %}
        <button id="submit" class="btn btn-default" >旅に出る</button>
        <br/>
        <div id="share" style="display:none">
            <a id="url" href="">投票</a>
        </div>
    </div>
</div>
{% end %}

{% block tail_script %}
<script src="/static/js/index.js"></script>
{% end %}
